In [19]:
import pandas
zipcodes = pandas.read_csv('zip_codes_all.csv')
zipcodes

         Zip
0      10001
1      10002
2      10003
3      10004
4      10005
5      10006
6      10007
7      10009
8       1001
9      10010
10     10011
11     10012
12     10013
13     10014
14     10016
15     10017
16     10018
17     10019
18      1002
19     10020
20     10021
21     10022
22     10023
23     10024
24     10025
25     10026
26     10027
27     10028
28     10029
29      1003
...      ...
33090  99786
33091  99788
33092  99789
33093  99790
33094  99791
33095  99801
33096  99820
33097  99824
33098  99825
33099  99826
33100  99827
33101  99829
33102  99830
33103  99832
33104  99833
33105  99835
33106  99836
33107  99840
33108  99841
33109  99901
33110  99903
33111  99918
33112  99919
33113  99921
33114  99922
33115  99923
33116  99925
33117  99926
33118  99927
33119  99929

[33120 rows x 1 columns]

In [21]:
from census import Census
from us import states

#B06009_001E B06009. PLACE OF BIRTH BY EDUCATIONAL ATTAINMENT IN THE UNITED STATES (total)
#B06009_001M (margin of error)
#B06009_002E Less than high school graduate
#B06009_002M
#B06009_003E High school graduate (includes equivalency)
#B06009_003M
#B06009_004E Some college or associate's degree
#B06009_004M
#B06009_005E Bachelor's degree
#B06009_005M
#B06009_006E Graduate or professional degree
#B06009_006M

#employment/school enrollment status
#B14005_001E	Total:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_001M	Margin of Error for!!Total:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_002E	Male:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_002M	Margin of Error for!!Male:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_003E	Male:!!Enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_003M	Margin of Error for!!Male:!!Enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_004E	Male:!!Enrolled in school:!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_004M	Margin of Error for!!Male:!!Enrolled in school:!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_005E	Male:!!Enrolled in school:!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_005M	Margin of Error for!!Male:!!Enrolled in school:!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_006E	Male:!!Enrolled in school:!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_006M	Margin of Error for!!Male:!!Enrolled in school:!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_007E	Male:!!Not enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_007M	Margin of Error for!!Male:!!Not enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_008E	Male:!!Not enrolled in school:!!High school graduate (includes equivalency):	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years
#B14005_008M	Margin of Error for!!Male:!!Not enrolled in school:!!High school graduate (includes equivalency):	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_009E	Male:!!Not enrolled in school:!!High school graduate (includes equivalency):!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_009M	Margin of Error for!!Male:!!Not enrolled in school:!!High school graduate (includes equivalency):!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_010E	Male:!!Not enrolled in school:!!High school graduate (includes equivalency):!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_010M	Margin of Error for!!Male:!!Not enrolled in school:!!High school graduate (includes equivalency):!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_011E	Male:!!Not enrolled in school:!!High school graduate (includes equivalency):!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_011M	Margin of Error for!!Male:!!Not enrolled in school:!!High school graduate (includes equivalency):!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_012E	Male:!!Not enrolled in school:!!Not high school graduate:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_012M	Margin of Error for!!Male:!!Not enrolled in school:!!Not high school graduate:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_013E	Male:!!Not enrolled in school:!!Not high school graduate:!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_013M	Margin of Error for!!Male:!!Not enrolled in school:!!Not high school graduate:!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_014E	Male:!!Not enrolled in school:!!Not high school graduate:!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_014M	Margin of Error for!!Male:!!Not enrolled in school:!!Not high school graduate:!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_015E	Male:!!Not enrolled in school:!!Not high school graduate:!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_015M	Margin of Error for!!Male:!!Not enrolled in school:!!Not high school graduate:!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_016E	Female:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_016M	Margin of Error for!!Female:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_017E	Female:!!Enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_017M	Margin of Error for!!Female:!!Enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_018E	Female:!!Enrolled in school:!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_018M	Margin of Error for!!Female:!!Enrolled in school:!!Employed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_019E	Female:!!Enrolled in school:!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_019M	Margin of Error for!!Female:!!Enrolled in school:!!Unemployed	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_020E	Female:!!Enrolled in school:!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_020M	Margin of Error for!!Female:!!Enrolled in school:!!Not in labor force	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_021E	Female:!!Not enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_021M	Margin of Error for!!Female:!!Not enrolled in school:	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years	not required	int
#B14005_022E	Female:!!Not enrolled in school:!!High school graduate (includes equivalency):	B14005. Sex By School Enrollment By Educational Attainment By Employment Status For The Population 16 To 19 Years
fields = ('B06009_001E', 'B06009_001M', 'B06009_002E','B06009_002M',
          'B06009_003E','B06009_003M','B06009_004E','B06009_004M',
          'B06009_005E','B06009_005M','B14005_001E','B14005_001M',
          'B14005_002E','B14005_002M', 'B14005_003E', 'B14005_003M',
          'B14005_004E','B14005_004M', 'B14005_005E', 'B14005_005M',
          'B14005_006E','B14005_006M','B14005_007E','B14005_007M',
          'B14005_008E'
         )
c = Census("092046c3e8dd7145cb5c10d14f6b64e292db6249")
c.acs.zipcode(fields,'94607')

[{'B06009_001E': '17341',
  'B06009_001M': '771',
  'B06009_002E': '4179',
  'B06009_002M': '468',
  'B06009_003E': '3186',
  'B06009_003M': '437',
  'B06009_004E': '4864',
  'B06009_004M': '467',
  'B06009_005E': '3431',
  'B06009_005M': '355',
  'zip code tabulation area': '94607'}]

In [16]:
c.acs.state(('B06009_001E', 'B06009_001M', 'B06009_002E','B06009_002M','B06009_003E','B06009_003M','B06009_004E','B06009_004M','B06009_005E','B06009_005M'),states.AK.fips)

[{'B06009_001E': '454301',
  'B06009_001M': '374',
  'B06009_002E': '37995',
  'B06009_002M': '1259',
  'B06009_003E': '124059',
  'B06009_003M': '2311',
  'B06009_004E': '167313',
  'B06009_004M': '2029',
  'B06009_005E': '80447',
  'B06009_005M': '1923',
  'state': '02'}]